[Unit]
Description=SABnzbd container

[Container]
Image=lscr.io/linuxserver/sabnzbd:latest
AutoUpdate=registry
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
Volume=/var/mnt/downloads/appdata/sabnzbd:/config:rw,Z,U
Volume=/var/mnt/downloads/data/nzb:/downloads:rw,Z,U
UserNS=keep-id
Network=host

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=90
TimeoutStopSec=30
