[Unit]
Description=Jellyfin container

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
LogDriver=none
Volume=jellyfin-config:/config:rw,Z,U
Volume=jellyfin-cache:/cache:rw,Z,U
Volume=/var/mnt/media:/media:rw,Z,U
UserNS=keep-id
GroupAdd=keep-groups
AddDevice=/dev/dri/:/dev/dri/
PublishPort=8096:8096
PublishPort=8920:8920
PublishPort=1900:1900/udp
PublishPort=7359:7359/udp

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=90
TimeoutStopSec=30
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
