[Unit]
Description=qBittorrent container

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry
LogDriver=none
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
Environment=WEBUI_PORT=8090
Environment=TORRENTING_PORT=6881
Volume=/var/mnt/downloads/qBittorrent:/downloads:rw,Z,U
Volume=/var/mnt/downloads/qBittorrent/.config:/config:rw,Z,U
UserNS=keep-id
PublishPort=8090:8090
PublishPort=6881:6881
PublishPort=6881:6881/udp

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=90
TimeoutStopSec=30
