_ide_helper.php
._*
.DS_Store
.env
.env.backup
.idea/
.php-cs-fixer.cache
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
.Spotlight-V100
.Trashes
*.7z
*.class
*.com
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.log.*
*.msi
*.o
*.rar
*.sql
*.sqlite
*.tar
*.tar.*
*.tgz
*.zip
*~
ehthumbs.db
Homestead.json
Homestead.yaml
log/
npm-debug.log
Thumbs.db
yarn-error.log
