[Unit]
Description=SABnzbd container

[Container]
Image=docker.io/linuxserver/sabnzbd:latest
AutoUpdate=registry
LogDriver=none
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
Volume=/var/mnt/data/SABnzbd/config:/config:rw,Z
Volume=/var/mnt/data/SABnzbd/downloads:/downloads:rw,Z
User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
Network=pi.network
PublishPort=8080     

[Service]
TimeoutStartSec=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
