[Unit]
Description=qBittorrent container

[Container]
Image=docker.io/linuxserver/qbittorrent:latest
AutoUpdate=registry
LogDriver=none
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
Environment=WEBUI_PORT=8090
Environment=TORRENTING_PORT=6881
Volume=/mnt/data/qBittorrent/config:/config:rw,Z
Volume=/mnt/data/qBittorrent/downloads:/downloads:rw,Z
User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
Network=pi.network
PublishPort=8090:8090
PublishPort=6881:6881
PublishPort=6881:6881/udp

[Service]
TimeoutStartSec=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
