{
	servers {
		enable_full_duplex
		trusted_proxies static private_ranges
		protocols h1 h2 h3
	}

	# debug
	local_certs
	admin off
}

(pwa) {
	header Service-Worker-Allowed "/"
}

(compress) {
	encode zstd gzip
}

import /etc/caddy/sites/*.Caddyfile
