{
    servers {
        enable_full_duplex
        trusted_proxies static private_ranges
    }

    # debug
    local_certs
    admin off
}

(pwa) {
	header Service-Worker-Allowed "/"
}

(tls) {
    tls internal
}

(compress) {
    encode zstd gzip
}

import /etc/caddy/sites/*.Caddyfile
