[Unit]
Description=Jellyfin container

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
LogDriver=none
Volume=jellyfin-config:/config:rw,Z,U
Volume=jellyfin-cache:/cache:rw,Z,U
Volume=/var/mnt/media:/media:ro,z
UserNS=keep-id
AddDevice=/dev/dri/:/dev/dri/
Network=proxy.network
ExposeHostPort=8096
ExposeHostPort=8920
ExposeHostPort=1900/udp
ExposeHostPort=7359/udp

[Service]
TimeoutStartSec=90
Restart=on-failure
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
