[Unit]
Description=Jellyfin container

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
LogDriver=none
User=${UID}
Group=${UID}
UserNS=keep-id:uid=${UID},gid=${GID}
AddDevice=/dev/dri/:/dev/dri/
Volume=jellyfin-config:/config:rw,Z,U
Volume=jellyfin-cache:/cache:rw,Z,U
Volume=${MEDIA_PATH}:/media:ro,Z
Network=caddy.network
Network=media.network
PublishPort=8096:8096/tcp

[Service]
EnvironmentFile=%h/.config/containers/systemd/media/config/app.env
TimeoutStartSec=900
Restart=always
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
