[Unit]
Description=Jellyfin container

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
LogDriver=none
AddDevice=/dev/dri/:/dev/dri/
Volume=jellyfin-config:/config:rw,Z,U
Volume=jellyfin-cache:/cache:rw,Z,U
Volume=/var/mnt/media:/media:rw,Z,U
UserNS=keep-id
Network=proxy.network
PublishPort=8096:8096
PublishPort=8920:8920
PublishPort=1900:1900/udp
PublishPort=7359:7359/udp

[Service]
TimeoutStartSec=90
Restart=on-failure
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target default.target
