[Unit]
Description=SABnzbd container

[Container]
Image=docker.io/linuxserver/sabnzbd:latest
AutoUpdate=registry
LogDriver=none
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
Volume=/var/mnt/downloads/SABnzbd:/downloads:rw,Z
Volume=/var/mnt/downloads/SABnzbd/.config:/config:rw,Z,U
UserNS=keep-id
Network=media.network
PublishPort=8080:8080

[Service]
TimeoutStartSec=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
