[Unit]
Description=Switch to balanced profile at 07:30

[Timer]
OnCalendar=*-*-* 07:30:00
Unit=power-profile@balanced.service

[Install]
WantedBy=timers.target
