[Unit]
Description=Mount private subvolume

[Mount]
What=UUID=<UUID-OF-CRYPTMAP>
Where=/var/mnt/private
Type=btrfs
Options=defaults,noatime,compress=zstd:3,space_cache=v2,commit=60,autodefrag,subvol=@private
TimeoutSec=900

[Install]
WantedBy=multi-user.target
