[Unit]
Description=Mount public subvolume

[Mount]
What=UUID=<UUID-OF-CRYPTMAP>
Where=/var/mnt/public
Type=btrfs
Options=defaults,noatime,compress=zstd:3,space_cache=v2,commit=60,autodefrag,subvol=@public
TimeoutSec=90

[Install]
WantedBy=multi-user.target
