[Unit]
Description=Mount downloads subvolume

[Mount]
What=UUID=<UUID-OF-CRYPTMAP>
Where=/var/mnt/downloads
Type=btrfs
Options=defaults,noatime,nodatacow,space_cache=v2,commit=30,discard=async,subvol=@downloads
TimeoutSec=90

[Install]
WantedBy=multi-user.target
