[Unit]
Description=Mount backup subvolume

[Mount]
What=UUID=<UUID-OF-CRYPTMAP>
Where=/var/mnt/backup
Type=btrfs
Options=defaults,noatime,compress=zstd:3,discard=async,commit=30,space_cache=v2,subvol=@backup
TimeoutSec=90

[Install]
WantedBy=multi-user.target
