[Unit]
Description=Data mount

[Mount]
What=UUID=<UUID>
Where=/var/mnt/data
Type=btrfs
Options=defaults,auto,noatime,compress-force=zstd:5
TimeoutSec=600

[Install]
WantedBy=multi-user.target
