[Unit]
Description=Mount NAS share

[Mount]
What=//nas.lan/profiles
Where=/var/mnt/nas
Options=_netdev,credentials=/etc/samba/credentials/nas,iocharset=utf8,uid=<username>,gid=<username>,rw,noauto
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
