[Unit]
Description=SABnzbd

[Service]
TimeoutStartSec=900
Restart=always

[Container]
Image=lscr.io/linuxserver/sabnzbd:latest
AutoUpdate=registry
Volume=/mnt/data/SABnzbd/config:/config:rw,Z,U
Volume=/mnt/data/SABnzbd/downloads:/downloads:rw,Z,U
Secret=tlscert,target=/run/secrets/cert.pem
Secret=tlskey,target=/run/secrets/key.pem
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
Network=pi.network
PublishPort=8080:8080

[Install]
WantedBy=multi-user.target
